<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <p>Hello!</p>
    <p>This page should list some things about me. But really, it's just a way for me to practice route handling on express.js.</p>
    {{>footer}}
</body>
</html>